<div class="container">
  <nav>
    <ul>
      <li><a class="cursor-pointer" ng-click="scrollTo('whyattend')">Why Attend?</a></li>
      <li><a class="cursor-pointer" ng-click="scrollTo('sessions')">Sessions</a></li>
      <li><a class="cursor-pointer" ng-click="scrollTo('agenda')">Agenda</a></li>
      <li><a class="cursor-pointer" ng-click="scrollTo('travelandlocation')">Travel &amp; Location</a></li>
    </ul>
  </nav>

  <div class="aux">
    <div class="social">
      <div class="social-wrapper">
        <!--
        <div class="g-plusone" data-annotation="none"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Connect with Chrome engineers and web devs at Chrome Dev Summit." data-via="chromiumdev" data-count="none">Tweet</a>
        -->
      </div>
    </div>
    <div class="register">
      <a href="#buytickets">
        Get Tickets
      </a>
    </div>
  </div>
</div>
