<div class="container">
  <img src="resources/devfest-logo.png" id="gdglogo">
  <!--<h1>Family DevFest Utah</h1>-->
  <p class="subtitle">
    Orem, UT<br>
    <span itemprop="startDate" content="{{days[0].date}}">{{days[0].date | date:'MMM dd'}}</span> - <span itemprop="endDate" content="{{days[days.length - 1].date}}">{{days[days.length - 1].date | date:'dd'}}</span>, {{days[days.length - 1].date | date:'yyyy'}}.
  </p>
  <div class="col-md-5">
    <br>
    <p>
      A local effort by
    <ul>
      <li ng-repeat="helper in helpers"><a ng-href="{{helper.url}}">{{helper.name}}</a></li>
    </ul>
    </p>
    <!--<p>Join the community at <a href="http://events.bizzabo.com/DevFestMT">http://events.bizzabo.com/DevFestMT</a></p>-->
  </div>
</div>