<div class="container">

<h2>Agenda</h2>
<div class="speaker-box bordered-shadowed">
  <a name="agenda"></a>
  <div ng-repeat="day in days">
    <h3 class="day-name">{{day.name}} - {{day.date | date:'mediumDate'}}</h3>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <th>Time</th>
          <th>Activity</th>
        </tr>
        <tr ng-repeat="activity in day.activities">
          <td>{{activity.startTime | date: 'shortTime'}} - {{activity.endTime | date: 'shortTime'}}</td>
          <td><a ng-click="scrollTo('activity-' + activity.name)">{{activity.name}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>(Agenda is still subject to change)</p>
</div>

<div class="clear"></div>

<h2>Sessions</h2>
<a name="sessions"></a>

<div ng-repeat="day in days">
  <div class="speaker-box bordered-shadowed" ng-repeat="activity in day.activities">
    <div ng-if="activity.isSession">
      <a name="activity-{{activity.name}}"></a>
      <div class="speaker-avatar" ng-if="!activity.speaker.noPhoto">
        <img class="img-circle" ng-src="{{activity.speaker.path}}/photo.jpg" alt="activity.speaker.name">
      </div>
      <div class="speaker-name"><a ng-href="{{activity.speaker.url}}" target="_new">{{activity.speaker.name}}</a></div>
      <div class="speaker-company text-muted"><a ng-href="{{activity.speaker.company.url}}">{{activity.speaker.company.name}}</a></div>
      <div class="speaker-company" ng-include="activity.speaker.path + '/company.html'"></div>
      <div class="session-info">
        <h5>{{activity.name}}</h5>
        <p ng-include="activity.speaker.path + '/session.html'"></p>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>

</div>