<div class="container">
  <a name="whyattend"></a>
  <h2>Why Attend?</h2>

  <div class="pull-right prizes">
    <h3>Prizes!</h3>
    <ul>
      <li ng-repeat="prize in prizes">{{prize}}</li>
    </ul>
  </div>

  <p itemprop="description">
    Connect with developers, designers, entrepreneurs, teachers and students.
    We're getting together to push tech forward in Utah and in education.
  </p>
  <p>
    We’ll host a full day of tech talks. Then join up later that evening around 8PM for a casual after party.
    On day 2 put your newfound knowledge to work building your first or next app. We'll have guided code labs and plenty of time for hacking.
    Learn how to code something cool!
  </p>

  <h4>Admission Includes:</h4>
  <ul>
    <li ng-repeat="s in swag">{{s}}</li>
  </ul>

</div>