div
  img(src='resources/flathead.jpg', alt='Flathead Lake Brewing Co. Front', style='float: left; height: 19em; margin-right: 10px;')
  .container
    h2 After Party
    p
      | Nov 2nd is Día de Muertos (Day of the Dead). Right after Day 1 of DevFest head over to the 
      a(target='flathead', style='text-decoration: underline;', href='https://www.google.com/maps/preview#!q=Flathead+Lake+Brewing+Company%2C+North+Higgins+Avenue%2C+Missoula%2C+MT&data=!1m4!1m3!1d848!2d-113.9928951!3d46.8734543!4m15!2m14!1m13!1s0x535dcc2a1af45b9f%3A0xa5c57e07770567!3m8!1m3!1d54287!2d-113.9797349!3d46.8526455!3m2!1i1920!2i955!4f13.1!4m2!3d46.873576!4d-113.992935')
        | Flathead Lake Brewing Co.
      |  in downtown Missoula for a casual after party.
      | Settle in. Maybe have some dinner or grab a drink. The first one's on us. Watch the parade from the third floor Galaxy Lounge. Stop in 6pm or later. Wear your lanyard to network like a boss.
    p Family, spouses, and children are welcome.
  img(src='resources/galaxy-full.jpg', width='100%', alt='Flathead Lake Brewing Co. Galaxy Lounge')
