.container
  .text
    a(href= social.googlePlus, target='_blank') Follow #{gdgGroupName} on
  a.ir.googleplus(href= social.googlePlus, target='_blank') Google+
  a.ir.facebook(href= social.facebook, target='_blank') Facebook
