.container
  nav
    ul
      li
        a(href="#whyattend") Why Attend?
      li
        a(href="#location") Location
      li
        a(href="#buytickets") Tickets
      li
        a(href="#sponsors") Sponsors
