.container
  nav
    ul
      li.present
        a(href="https://docs.google.com/forms/d/15tvVxsRBxR3mFGJAcEn4fE8ztEN-xgD076QWJYVeRd0/viewform") Want to present?
      li
        a(href="#whyattend") Why Attend?
      li
        a(href="#agenda") Agenda
      li
        a(href="#sessions") Sessions
      li
        a(href="#travelandlocation") Location
      li.sponsor
          a(href="https://docs.google.com/forms/d/12n2DezPZRKMYVAPJGqELc7KpZ-aNzrjQVoeX56fa5Ms/viewform",target="_blank")
            span.hide-iphone Want to
            span &nbsp;Sponsor
            span.show-iphone &nbsp;Us
            span ?
