.container
  nav
    ul
      li
        a(href="#whyattend") Why Attend?
      li
        a(href="#sessions") Sessions
      li
        a(href="#agenda") Agenda
      li
        a(href="#travelandlocation") Travel & Location
    .aux
      .social
        .social-wrapper
          //
                    <div class="g-plusone" data-annotation="none"></div>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Connect with Chrome engineers and web devs at Chrome Dev Summit." data-via="chromiumdev" data-count="none">Tweet</a>

      .register
        a(href="#buytickets")
          | Get Tickets
