.container
  div.logo-container
    img#gdglogo(src='resources/devfest-logo.png')
  p.subtitle
    | Orem, UT
    br
    | May 3, 2014
  .col-md-5
    br
    p
      | A local effort by
      each helper in helpers
        a(href= helper.url) #{helper.name}
    //
      <p>Join the community at <a href="http://events.bizzabo.com/DevFestMT">http://events.bizzabo.com/DevFestMT</a></p>
