.container
  div.logo-container
    img#gdglogo(src='resources/devfest-logo.png')
  p.subtitle
    | Orem, UT
    br
    | #{date.full}
  .col-md-5
    p
      | <b>DevFestFamily</b> is a tech conference for the whole family, <u>whether you are a programmer or not</u>!
      | Our goal is to teach Utahns to better appreciate code. We will have classes and activities for kids, teens,
      | and adults. Even those adults not interested in coding, but want to learn how to protect and guide their family
      | in these highly techincal times.
    p
      | Please bring your family and friends, and let us teach them to code, and get some free lunch we you are at it.
      | Thanks to our generous sponsors, we wil be providing lunch and t-shirts to all who attend. We also will have
      | some amazing door prizes. We are hoping to give away a Raspberry Pi to each family that attends. If you have any
      | questions, please direct them to <a href="mailto:info@devfestfamily.com">info@devfestfamily.com</a>.
    p
      <div><a class="buy button" href="https://ti.to/devfestfamily/devfestfamily" target="_blank">Register</a></div>
    p.who
      | A local effort by
      each helper in helpers
        a(href= helper.url) #{helper.name}
    //
      <p>Join the community at <a href="http://events.bizzabo.com/DevFestMT">http://events.bizzabo.com/DevFestMT</a></p>
