.container
  div.social
    div.wide
      div.left
        a(href="http://twitter.com/share",class="twitter-share-button",data-url= baseUrl,data-via="gdgutah",data-text="Google I/O Extended in Utah",data-hashtags="io14extended",data-lang="en") Tweet
        div(class="g-plusone",data-size="medium",data-annotation="inline",data-width="300",data-href= baseUrl)
      div.right
        div(class="g-follow",data-annotation="bubble",data-height="20",data-href= googlePlus,data-rel="author")
        span.margin-left-small
          a(href= twitter,class="twitter-follow-button",data-show-count="true",data-lang="en") Follow @gdgutah
    div.small
      div.left
        a(href="http://twitter.com/share",class="twitter-share-button",data-url= baseUrl,data-via="gdgutah",data-text="Google I/O Extended in Utah",data-hashtags="io14extended",data-lang="en",data-count="none") Tweet
        span.margin-left-small
          div(class="g-plusone",data-size="medium",data-annotation="none",data-href =baseUrl)
      div.right
        div(class="g-follow",data-annotation="none",data-height="20",data-href= googlePlus,data-rel="publisher")
        span.margin-left-small
          a(href= twitter,class="twitter-follow-button",data-show-count="false",data-lang="en") Follow
  div.logo-container
    a(href= googlePlus,target='_blank')
      img#gdglogo(src='resources/logo.png')
  p.subtitle
    | #{location.city}, #{location.state}
    br
    | #{date.full}
  .col-md-5
    p
      | Google IO Extended Utah is a place where developers and Google fans can get together and geek out for two days
      | about all the cool things happening at Google IO. It's going to be a good time. Tickets are limited and will go
      | fast so make sure to pick up yours asap!

    a(class='buy-button' href="#buytickets") Register
    p.who
      | A local effort by
      each helper in helpers
        a(href= helper.url) #{helper.name}