.container
  a(class='anchor' name='whyattend')
  h2 Why Attend?
  p(itemprop='description')
    | I/O Extended includes live streaming sessions and a hackathon. This event is brought to you by our local
    | Google Developer Group and made possible by&nbsp;
    a(href="#sponsors") the sponsors
    | .
  .pull-right.prizes
    h3 Free Stuff!
    ul
      each prize in prizes
        li #{prize}
  h4 Admission Includes:
  ul
    each s in swag
      li #{s}
  p
    div
      a(class='buy-button' href="#buytickets") Buy A Ticket
