.container
  a(class='anchor' name='whyattend')
  h2 Why Attend?
  p(itemprop='description') !{contentText.whyAttend}
  .pull-right.prizes
    h3 Free Stuff!
    ul
      each prize in prizes
        li #{prize}
  h4 Admission Includes:
  ul
    each s in swag
      li #{s}
  p
    div
      a(class='buy-button' href="#buytickets") Buy A Ticket
