doctype html
html(itemscope='', itemtype='http://schema.org/Event')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='description', content='DevFest Fam')
  meta(name='viewport', content='width=device-width,initial-scale=1.0')
  meta(itemprop='name', content='DevFest Fam')
  link(href='https://plus.google.com/111439872924209508980', rel='publisher')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,800', rel='stylesheet', type='text/css')
  link(href='css/devfest.css', rel='stylesheet', type='text/css')
  link(href='vendor/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(href="resources/favicon.ico", rel="shortcut icon", type="image/x-icon")
  title DevFest Family 2014
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-49769569-1', 'devfestfam.com');
    ga('send', 'pageview');
  body(ng-controller='MainCtrl')
    header 
      include partials/header
    .spacer
      section.white
        include partials/helpers
      section.blue
        include partials/schedule
      section.gray
        include partials/why-attend
      section.blue
        include partials/sponsors
      section#travelandlocation.white
        include partials/location
      //section.blue
      //  include partials/tickets
      section#conversation
        include partials/conversation
    script.
      var mediaQuery = window.matchMedia("(min-width: 750px)");
      var mediaQueryCallback = function () {
        var map = document.getElementById('location-map-embed');
        var link = document.getElementById('location-map-link');
        if (mediaQuery.matches) {
          map.className = '';
          link.className = 'hide';
        } else {
          link.className = '';
          map.className = 'hide';
        }
      };
      mediaQuery.addListener(mediaQueryCallback);
      mediaQueryCallback();
    //
       Twitter stuff 
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    //
       Google+ Stuff 
    script.
      (function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();